<article class="card" [attr.aria-labelledby]="resolvedHeadingId()">
  <div class="card-copy">
    @if (meta()) {
      <p class="card-meta">{{ meta() }}</p>
    }

    @switch (headingLevel()) {
      @case (2) {
        <h2 class="card-heading" [id]="resolvedHeadingId()">{{ heading() }}</h2>
      }
      @case (4) {
        <h4 class="card-heading" [id]="resolvedHeadingId()">{{ heading() }}</h4>
      }
      @case (5) {
        <h5 class="card-heading" [id]="resolvedHeadingId()">{{ heading() }}</h5>
      }
      @case (6) {
        <h6 class="card-heading" [id]="resolvedHeadingId()">{{ heading() }}</h6>
      }
      @default {
        <h3 class="card-heading" [id]="resolvedHeadingId()">{{ heading() }}</h3>
      }
    }

    @if (subtext()) {
      <p class="card-subtext">{{ subtext() }}</p>
    }

    <div class="card-actions">
      <ng-content select="app-button-group" />
    </div>
  </div>

  <div class="card-media" [class.has-visual]="visual() !== 'none'">
    <ng-content select="[cardMedia]" />
  </div>
</article>
