# System
.DS_Store
Thumbs.db

# IDEs
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp

# Environment Variables
.env
.env.*
!.env.example

# Python General
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
env.bak/
venv.bak/

# Databases
*.sqlite3
db.sqlite3
db.sqlite3-journal

# Python Tools
.ruff_cache/
.pytest_cache/

# Node / JS
node_modules/
dist/
/studio/.sanity/
/studio/dist/
