# Django settings
SECRET_KEY=django-insecure-izn^)q(e0k=rklyawiv0*4(unp)%4%@v54**mnt!@tw!thaub9
DEBUG=True
ALLOWED_HOSTS=*

# Database settings
DATABASE_URL=sqlite:///db.sqlite3

# CORS settings
CORS_ALLOWED_ORIGINS=http://localhost:4200,http://localhost:8000
CORS_ALLOW_CREDENTIALS=True
CSRF_TRUSTED_ORIGINS=http://localhost:4200,http://localhost:8000

# LLM
GOOGLE_API_KEY=abc