.navbar {
  margin-bottom: 2rem;
  padding: 0;
  background: transparent;

  .navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .logo {
    margin-bottom: 0;
  }

  .nav-links {
    display: flex;
    gap: 0.5rem;
    margin-right: -16px; /* Offset the padding of the rightmost mat-button */

    a {
      font-weight: 500;

      &.active {
        background-color: var(--card-bg);
        border-radius: 100px;
      }
    }
  }
}
