<header class="navbar">
  <div class="navbar-content">
    <div class="navbar-left">
      <a routerLink="/" class="navbar-brand">
        <img
          class="logo"
          src="/data-engineering-for-machine-learning.svg"
          alt="Data Engineering for Machine Learning"
          style="height: 40px; margin-right: 10px; margin-top: 5px;"
        />
      </a>
    </div>
    
    <span class="spacer"></span>
    
    <div class="navbar-right">
      <a mat-button routerLink="/book" class="nav-btn">Book</a>
      <a mat-button routerLink="/dashboard" class="nav-btn">Dashboard</a>
      <div class="divider"></div>
      <button mat-raised-button class="sign-in-btn" *ngIf="!authService.isAuthenticated()" (click)="login()">Sign In</button>
      <button mat-raised-button color="warn" *ngIf="authService.isAuthenticated()" (click)="logout()">Sign Out</button>
    </div>
  </div>
</header>
