body {
  font-size: var(--viking-font-size-base);
  color: var(--viking-text);
  background-color: var(--viking-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: var(--viking-letter-spacing-caps);
}
