<!-- ng-template keeps a single projection slot across @if branches -->
<ng-template #content>
  <span class="button__label">
    <ng-content />
  </span>
  @if (busy()) {
    <span class="button__spinner" aria-hidden="true"></span>
  }
</ng-template>

@if (isRouterLink()) {
  <a
    [class]="controlClass()"
    [routerLink]="routerLink()!"
    [attr.aria-disabled]="disabled() || busy() ? true : null"
    [attr.aria-busy]="busy() ? true : null"
    [attr.tabindex]="disabled() || busy() ? -1 : null"
    (click)="onActivate($event)"
  >
    <ng-container [ngTemplateOutlet]="content" />
  </a>
} @else if (isHref()) {
  <a
    [class]="controlClass()"
    [href]="href()"
    [attr.aria-disabled]="disabled() || busy() ? true : null"
    [attr.aria-busy]="busy() ? true : null"
    [attr.tabindex]="disabled() || busy() ? -1 : null"
    (click)="onActivate($event)"
  >
    <ng-container [ngTemplateOutlet]="content" />
  </a>
} @else {
  <button
    [class]="controlClass()"
    [type]="type()"
    [attr.form]="form() || null"
    [disabled]="disabled() || busy()"
    [attr.aria-busy]="busy() ? true : null"
    (click)="onActivate($event)"
  >
    <ng-container [ngTemplateOutlet]="content" />
  </button>
}
