.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 300px;
  padding-top: 10px;
}

.error-text {
  color: #f44336;
  font-size: 14px;
  margin-top: 5px;
}

[mat-dialog-title] {
  color: #c0c5c1 !important;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  text-shadow: 0 2px 10px rgba(0,0,0,0.5);
  font-weight: 700;
  text-align: center;
}
