<a
  class="microcard"
  [routerLink]="routerLink()"
  [attr.aria-labelledby]="resolvedHeadingId()"
>
  <div class="microcard-copy">
    @if (meta()) {
      <p class="microcard-meta">{{ meta() }}</p>
    }

    @switch (headingLevel()) {
      @case (2) {
        <h2 class="microcard-heading" [id]="resolvedHeadingId()">{{ heading() }}</h2>
      }
      @case (4) {
        <h4 class="microcard-heading" [id]="resolvedHeadingId()">{{ heading() }}</h4>
      }
      @case (5) {
        <h5 class="microcard-heading" [id]="resolvedHeadingId()">{{ heading() }}</h5>
      }
      @case (6) {
        <h6 class="microcard-heading" [id]="resolvedHeadingId()">{{ heading() }}</h6>
      }
      @default {
        <h3 class="microcard-heading" [id]="resolvedHeadingId()">{{ heading() }}</h3>
      }
    }

    @if (subtext()) {
      <p class="microcard-subtext">{{ subtext() }}</p>
    }

    <span class="microcard-cta">{{ cta() }}</span>
  </div>

  <div class="microcard-visual" aria-hidden="true"></div>
</a>
